--find-links https://download.pytorch.org/whl/cpu
torch
--find-links https://download.pytorch.org/whl/cpu
torchvision
--find-links https://download.pytorch.org/whl/cpu
torchaudio
fastai
fastapi
uvicorn[standard]
python-multipart